* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: $color-primary;
  margin: 40px 0;
  text-align: center;
}

p {
  margin: 0;
  line-height: 2rem;
}

ul {
  margin: 0;
  list-style: none;
}
