:root {
  --swiper-theme-color: #169995;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: $color-primary;
  margin: 40px 0;
  text-align: center;
}

p {
  margin: 0;
  line-height: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
