// BUTTONS
.btn-custom-primary {
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: darken($color-primary, 5%);
    color: white;
  }
}

// BADGES
.badge-custom-secondary {
  background-color: $color-secondary;
  margin: 5px;
  font-size: 1rem;
}

.badge-custom-tertiary {
  background-color: $color-tertiary;
  margin: 5px;
}

// UNDERLINE EFFECT
.underline-effect {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: $color-secondary;
    bottom: -20px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
  }

  &:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  &.thin-effect::after {
    height: 3px;
    bottom: -8px;
  }
}

// BACKGROUND CUSTOM
.background-custom {
  background: linear-gradient(110deg, white 60%, $color-primary 60%);
  height: calc(100vh - 180px);
}
